@import '../../../styles/variables.scss';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  height: 100vh;
  padding: 40px 20px;
  box-sizing: border-box;

  section {
    width: 100%;
    max-width: 400px;
    background: #C7C6C2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  button {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: transparent;
    padding: 12px 24px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

    &.entrar-botao {
      background: $secondary-color;
      color: white;
    }

    &.cadastrar-botao {
      border: 1px solid $primary-color;
      background: $primary-color;
      color: white;
      margin-bottom: 10px;
    }
  }

  .login-logo {
    width: 150px;
    height: 150px;
    background: #C7C6C2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 0;
  }

  @media (max-width: 768px) {
    section {
      width: 90%;
    }

    h1 {
      font-size: 20px;
    }
  }

  span{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
}
