<main>
  <section class="form-section">
    <img class="login-logo" src="/assets/imgs/logonesbus.png" alt="logo">
    <h2>{{ tituloLogin }}</h2>
    <ng-content></ng-content>
    <button class="entrar-botao" (click)="submit()">{{ entrarBotao }}</button>
    <div>
      <span>Ou</span>
    </div>
    <button class="cadastrar-botao" (click)="navigate()">{{cadastrarBotao}}</button>
  </section>

  <section class="main-section">
   <h1 class="titulo-login">NESBUS</h1>
    <img class="login-banner" src="/assets/imgs/bannernesbus.png" alt="banner">


  </section>
</main>
